/01 Debugger HF/build/
/01 Debugger HF/nbproject/private/
/02-06 Tömbök 1-5/build/
/02-06 Tömbök 1-5/nbproject/private/
/05-06 Tömbök 4-5/build/
/05-06 Tömbök 4-5/nbproject/private/
/07 Tömbök 6/build/
/07 Tömbök 6/nbproject/private/
/Java20190328/nbproject/private/
/Java20190328/build/
/08HF Hegyek/nbproject/private/
/08HF Hegyek/build/
/10 Tömbök 8/build/
/16 Fájlok 3-CaesarCode/build/
/16 Fájlok 3-CaesarCode/nbproject/private/
/Java20190515_17/nbproject/private/
/Java20190515_17/build/
/Java20190515_17/dist/
/19 HF-Szavak/build/